# Python
__pycache__/
*.py[c]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
env/
venv/

# Tool caches
.cache/
.pytest_cache/
.ruff_cache/

# Packaging artifacts
build/
dist/
*.egg-info/

# Logs and OS files
*.log
.DS_Store

# Ignore mp4 files
*.mp4